.grocery-list {
  &.page-container {
    &.jumbotron {
      padding: 0px;
      overflow-y: auto;
      margin-bottom: 0px;

      .top-sec {
        padding: 0.5rem 1rem;
      }

      .card {
        .card-header {
          background-color: #eee;
          display: flex;
          justify-content: space-between;

          .recipe-title {
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.2;
          }
          .icon{
            font-size: 1.25rem;
            cursor: pointer;
          }
        }

        .card-body {
          padding: 0.75rem;

          .form-group {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}